/*
	Plugin Name: Awesome Shortcodes For Genesis
	Description: This is the shortcodes Plugin created for the Genesis Framework.
	Author: Sanjeev Mohindra
	Author URI: https://techkle.com/
	Version: 1.1.1
 
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Content Boxes
------------------------------------------------------------ */
.asg-expander {
    text-decoration: none;
}
.content-box-blue,
.content-box-grey,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-teal,
.content-box-yellow {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.content-box-blue-title,
.content-box-grey-title,
.content-box-green-title,
.content-box-purple-title,
.content-box-red-title,
.content-box-teal-title,
.content-box-yellow-title {
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.content-box-no-top {
    margin-top: 0 !important;  
}
.content-box-no-bottom {
    margin-bottom: 0 !important; 
}
.content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}
.content-box-blue-title {
    background-color: #ADD1E5;
    border: 1px solid #afcde3;
}
.content-box-grey {
    background-color: #e2e2e2;
    border: 1px solid #bdbdbd;
}
.content-box-grey-title {
    background-color: #898888;
    border: 1px solid #bdbdbd;
} 
.content-box-green {
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
}
.content-box-green-title {
    background-color: #8EB560;
    border: 1px solid #b2ce96;
}  
.content-box-purple {
    background-color: #e2e2f9;
    border: 1px solid #bebde9;
}
.content-box-purple-title {
    background-color: #9191D2;
    border: 1px solid #bebde9;
}   
.content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
}
.content-box-red-title {
    background-color: #B57575;
    border: 1px solid #e9b3b3;
}  
.content-box-yellow {
    background-color: #fef5c4;
    border: 1px solid #fadf98;
}
.content-box-yellow-title {
    background-color: #B4A555;
    border: 1px solid #fadf98;
}
.content-box-teal {
    background-color: #00cccc;
    border: 1px solid #001a1a;
}
.content-box-teal-title {
    background-color: #004d4d;
    border: 1px solid #001a1a;
}
.asg-down, .asg-side{
	background: url(Images/asg-arrow.png) no-repeat;
}
.asg-down{
	background-position: 0 0;
	width: 32px;
	height: 32px;
}
.asg-side{
	background-position: -33px 0;
	width: 32px;
	height: 32px;
}

/* Color Buttons
------------------------------------------------------------ */
 
.button-blue,
.button-grey,
.button-green,
.button-purple,
.button-red,
.button-yellow,
.button-teal,
.button-apple,
.button-play,
.button-amazon {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
.button-blue:hover,
.button-grey:hover,
.button-green:hover,
.button-purple:hover,
.button-red:hover,
.button-yellow:hover,
.button-teal:hover,
.button-apple:hover,
.button-play:hover,
.button-amazon:hover {
    text-decoration: none;
}
.button-blue {
    background-color: #6666ff;
    border: 1px solid #6666ff;
}
.button-blue:hover {
    background-color: #0000cc;
    border: 1px solid #0000cc;
}
.button-grey {
    background-color: #999999;
    border: 1px solid #999999;
}
.button-grey:hover {
    background-color: #595959;
    border: 1px solid #595959;
}
.button-green {
    background-color: #00e600;
    border: 1px solid #00e600;
}
.button-green:hover {
    background-color: #008000;
    border: 1px solid #008000;
}
.button-purple {
    background-color: #e600e6;
    border: 1px solid #e600e6;
}
.button-purple:hover {
    background-color: #660066;
    border: 1px solid #660066;
}
.button-red {
    background-color: #e830a5;
    border: 1px solid #e830a5;
}
.button-red:hover {
    background-color: #730d4d;
    border: 1px solid #730d4d;
}
.button-yellow {
    background-color: #cccc00;
    border: 1px solid #cccc00;
}
.button-yellow:hover {
    background-color: #4d4d00;
    border: 1px solid #4d4d00;
}
.button-teal {
    background-color: #00cccc;
    border: 1px solid #00cccc;
}
.button-teal:hover {
    background-color: #004d4d;
    border: 1px solid #004d4d;
}
.button-amazon {
    background: url(Images/amazon-logo.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #ffa500;
    border: 1px solid #ffa500;
    display: inline-block;
}
.button-amazon:hover {
    background-color: #996300;
    border: 1px solid #996300;
}
.button-apple {
    background: url(Images/apple-logo.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #333333;
    border: 1px solid #000000;
    display: inline-block;
}
.button-play {
    background: url(Images/play-logo.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #333333;
    border: 1px solid #000000;
    display: inline-block;
}
.button-apple:hover,
.button-play:hover {
    background-color: #737373;
    border: 1px solid #000000;
}
/************ Responsive Video *********/
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}